/* Shared Styles  */

body {
  font-family: "Lato", sans-serif;
}

.section-header {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}

.section-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}

/* Our featured section  */

.our-featured {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.featured-flower {
    margin-top: 200px;
}

.our-featured li {
    list-style: none;
}

.featured-img {
  border-radius: 180px 180px 0px 0px;
}

.feature-caption {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}

/* Header Section Styles  */

.header {
  background-color: rgba(229, 84, 115, 0.1);
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 240px;
}

.banner-title {
  color: #272727;
  font-size: 50px;
  font-weight: 800;
  max-width: 700px;
}

.banner-desc {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 600px;
  margin: 35px 0px;
}

.banner-flower {
  width: 350px;
  margin-bottom: 0px;
}

.section-right {
  margin-bottom: 0px;
  margin-left: 100px;
}

.btn-primary {
  border-radius: 8px;
  background-color: #e55473;
  border: none;
  padding: 20px 43px;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
}

.shop-btn {
  margin-bottom: 50px;
}

/* hot-deal section  */

.hot-deal {
  border-radius: 8px;
  background-color: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 0;
  padding: 100px 0;
}

.hot-deal-text {
  align-items: center;
  justify-content: center;
}

.hot-deal-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}

.hot-deal-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* Instagram Section  */

.instagram-photo-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 50px 240px 130px 240px;
}

.instagram-photo-grid li {
  list-style: none;
}

/* Subscribe Section Styles  */

.subscribe-section {
  margin-bottom: 140px;
  background-image: url(../images/Rectangle\ 9.png);
  align-items: center;
  justify-content: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 1400px;
  margin-left: 24%;
  margin-right: 24%;
}

.latest-deal-header {
  padding: 130px 0px 0px 0px;
}

#subscribe-form {
  border-radius: 8px;
  border: none;
  background-color: #fff;
  width: 70%;
}

.form {
  display: flex;
  justify-content: center;
  padding-bottom: 130px;
  margin-bottom: 150px;
}

/* Footer-section  */

.footer-section {
  background-color: #111010;
  padding: 100px 0px;
}

.footer-title-text {
  color: #e55473;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
}

.footer-title-shop {
  color: white;
}

.footer-description {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}

.footer-copyright {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}
